body {
    font-family: sans-serif;
    margin: 0 1em 50vh 1em;
}

#panelDiv {
    background: white;
    position: sticky;
    top: 0;
}

#mediaMedio {
    /* Prevent videos with weird aspect ratios from messing up the app */
    max-height: 50vw;
    width: 100%;
}

#editorDiv {
    display: flex;
    align-items: center;
}

.previewDiv {
    display: inline-flex;
    flex-direction: column;
}

.previewDiv span {
    white-space: pre;
}

.timeSpan {
    font-family: monospace;
    white-space: pre;
}

#helpButton {
    margin-left: auto;
}

.stampDiv {
    display: flex;
    flex-direction: column;
    margin: 1ex 0;
}

.toolDiv {
    display: flex;
    align-items: center;
}

.pivotStampDiv {
    background: lightblue;
    outline: lightblue;
}
