body {
    font-family: sans-serif;
    margin: 0 1em 50vh 1em;
}

#panelDiv {
    background: white;
    /* Prevent the panel from jumping while it is not sticky yet */
    min-height: 20vh;
    position: sticky;
    top: 0;
}

#mediaMedio {
    /* Prevent videos with weird aspect ratios from messing up the app */
    max-height: 50vw;
    width: 100%;
}

#editorDiv {
    display: flex;
    align-items: center;
}

.previewDiv {
    display: inline-flex;
    flex-direction: column;
}

.previewDiv span {
    white-space: pre;
}

.previewDiv progress {
    /* `width: auto` doesn't work in Firefox so we need to use the combo of `min-width` and `width` */
    min-width: 100%;
    width: 0;
}

.timeSpan {
    font-family: monospace;
    white-space: pre;
}

#helpButton {
    margin-left: auto;
}

.stampDiv {
    display: flex;
    flex-direction: column;
    margin: 1ex 0;
}

.toolDiv {
    display: flex;
    align-items: center;
}

.pivotStampDiv {
    background: lightblue;
    outline: lightblue;
}
